<!DOCTYPE html>
<html lang="fr" ng-app="yheilp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yheilp</title>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
</head>

<body>

<!-- SPLASHSCREEN -->
<div class="splashscreen d-flex align-items-center justify-content-center ng-cloak">
    <h1>Yheilp<br/>
        <small class="text-secondary">loading...</small>
    </h1>
</div>


<div class="fluid-container" ng-controller="RestaurantController as ctrl">
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="#">YHEILP</a>
        </nav>
    </header>

    <ul class="list-group">
        <li ng-repeat="(id,title) in ctrl.restaurants " class="list-group-item">
            {{title}}
            <a class="btn btn-primary float-right" href="#" role="button" data-toggle="modal" data-target="#exampleModal" ng-click="ctrl.loadModal(id)">click</a>
        </li>
    </ul>


</div>

<script>
    angular.module("yheilp", []).controller("RestaurantController", function ($http) {
        var that = this;
        $http({
            method: 'GET',
            url: 'http://localhost:8080/yheilp/api/restaurants/'
        }).then(function successCallback(response) {
            that.restaurants = response.data;
        });

    });
</script>

</body>
</html>